@charset "UTF-8";
/*mystyle05.CSS*/

p { /*모든 <p> 요소*/
    font-family: 궁서체;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

div p { /*<div>안에 있는 모든 <p>*/
    background-color: red;
}

h2,p {/*모든<h2>, 모든<p>*/
    color: aqua;
}